* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display:flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*///////////////
// Header
///////////////////////////////////////////////////////////////////////////////*/

.menu-container {
    background-color: #59d9;
    padding: 3vh;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 20px 20px 20px 0;
}

.menu-item:hover {
    color: #ceeeff;
}

.menu-item:active {
    color: #bdddee;
}

.list-item {
    margin-left: 20px;
}

.first-item {
    margin-left: auto;
}

/*///////////////
// Content
///////////////////////////////////////////////////////////////////////////////*/

.content {
    max-width: 900px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content article {
    color: #6c6c7c;
    background-color: rgba(85, 153, 221, 0.11);
    padding: 6vh;
    margin: 20px 0;
    border-radius: 8px;
}

.content article h1,
.content article h2 {    
    margin: 1vh 0 3vh 0;
    color: #b0b7b9;
}

.content article p {
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 2.5em;
}
.content article h1 { font-size: 2em; }
.content article h2 { font-size: 1.6em; }

/*///////////////
// Footer
///////////////////////////////////////////////////////////////////////////////*/

.footer {
    color: #fff; 
    padding: 5vh 0;
}
